<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" lang="es">
<title>Editar Usuario</title>
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<link rel="stylesheet" href="http://localhost:8000/style.css">
</head>
<body>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/">
 
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
  aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="/">Inicio <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link" href="/usuarios">Usuarios</a>
    </div>
  </div>
  <span class="navbar-text">
  GESTION DE USUARIOS &nbsp;&nbsp;&nbsp;
    <a href="/logout">Salir</a>
  </span>
</nav>
		<div class="container mt-5">
		<div class="col-sm-5">
		<form th:action="@{/edit}" th:object=${user} method="POST">
			<div class="card"></div>
			<div class="card-header">
				<h3>Editar Usuario</h3>
			</div>
			<div class="card-body">
				<div class="form-group">
					<input type="hidden" th:field="*{id_user}" th:value="${id}" class="form-control"/>
				</div>
				<div class="form-group">
					<input type="hidden" th:field="*{password}" th:value="${password}" class="form-control"/>
				</div>
				<div class="form-group">
					<select hidden="" th:field="*{role.id_rol}" class="form-control">
						<option value=0>Asigne un rol...</option>
						<option value=1>Estudiante</option>
						<option value=2>Coordinador de Cátedra</option>
						<option value=3>Jefe de Departamento</option>
					</select>
				</div>
				<div class="form-group">
					<h5>Email</h5>
					<input required th:field="*{email}" type="email" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Nombres</h5>
					<input required th:field="*{nombres}" type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Apellidos</h5>
					<input required th:field="*{apellidos}" type="text" class="form-control"/>
				</div>
				<div class="form-group">
					<h5>Activo?</h5>
					<input th:field="*{activo}" value="0" type="checkbox" title="(no activo)" class="form-control"/>
					<label>NO</label>
					<input th:field="*{activo}" value="1" type="checkbox" title="(activo)" class="form-control"/>
					<label>SI</label>
				</div>
			</div>
			<div class="card-footer">
				<input type="submit" value="Guardar" class="btn btn-primary" />
				<a href="/usuarios/all" class="btn btn-danger">Cancelar</a>
			</div>
		</form>
		<br>
		</div>
	</div>
	<script src="http://localhost:8000/funciones.js" language="javascript"></script>
	<script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
</body>
</html>